<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laphayen.board.mapper.PostSearchMapper">

    <!-- 유저 아이디로 게시글 조회 -->
    <select id="getPostsByUserId" parameterType="int" resultType="com.laphayen.board.dto.request.PostSearchRequest">
        SELECT id, title, contents, createTime, isAdmin, views, categoryId, userId, updateTime
        FROM post
        WHERE 1=1
        <if test="title != null and title != ''">
            AND title LIKE CONCAT(#{title}, '%')
        </if>
        <if test="contents != null and contents != ''">
            AND contents LIKE CONCAT(#{contents}, '%')
        </if>
        <if test="categoryId != 0">
            AND categoryId = #{categoryId}
        </if>
        <if test="sortStatus.toString() == 'NEWEST'">
            ORDER BY createTime DESC
        </if>
        <if test="sortStatus.toString() == 'OLDEST'">
            ORDER BY createTime ASC
        </if>
        <if test="sortStatus.toString() == 'CATEGORIES'">
            ORDER BY categoryId
        </if>
    </select>

</mapper>
