<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laphayen.board.mapper.TagMapper">

    <!-- 태그 생성 -->
    <insert id="createTag" parameterType="com.laphayen.board.dto.TagDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag (tagName, url)
        VALUES (#{tagName}, #{url})
    </insert>

    <!-- 태그 ID로 조회 -->
    <select id="getTagById" resultType="com.laphayen.board.dto.TagDTO">
        SELECT id, tagName, url
        FROM tag
        WHERE id = #{id}
    </select>

    <!-- 게시글 ID로 태그 조회 -->
    <select id="getTagsByPostId" resultType="com.laphayen.board.dto.TagDTO">
        SELECT t.id, t.tagName, t.url, pt.postId
        FROM tag t
        INNER JOIN postTag pt ON t.id = pt.tagId
        WHERE pt.postId = #{postId}
    </select>


    <!-- 모든 태그 조회 -->
    <select id="getAllTags" resultType="com.laphayen.board.dto.TagDTO">
        SELECT id, tagName, url
        FROM tag
    </select>

    <!-- 태그 수정 -->
    <update id="updateTag" parameterType="com.laphayen.board.dto.TagDTO">
        UPDATE tag
        SET tagName = #{tagName},
            url = #{url}
        WHERE id = #{id}
    </update>

    <!-- 태그 삭제 -->
    <delete id="deleteTag" parameterType="int">
        DELETE FROM tag
        WHERE id = #{id}
    </delete>

    <!-- 태그를 게시글에 연결 -->
    <insert id="addTagToPost">
        INSERT INTO postTag (postId, tagId)
        VALUES (#{postId}, #{tagId})
    </insert>

    <!-- 태그 이름으로 조회 -->
    <select id="getTagByName" parameterType="String" resultType="com.laphayen.board.dto.TagDTO">
        SELECT id, tagName, url
        FROM tag
        WHERE tagName = #{tagName}
    </select>




</mapper>